<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Sojourn Station / Iskhod Outpost Changelog</title>
  <link rel="stylesheet" type="text/css" href="changelog.css">
  <base target="_blank" />
  <script type='text/javascript'>

	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}

  </script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table align='center' width='650'><tr><td>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='5'><b>Sojourn Station &ndash; Iskhod Outpost</b></font></div>
			<p><div align='center'><font size='4'><a href="https://github.com/epic-new-soj-thing/Sojourn-Iskhod/">Source code</a> | <a href="https://sojourn13.space/wiki/Main_Page">Wiki</a></font></div></p>
			<p><font size='2'><b>Bug reports:</b> <a href="https://github.com/epic-new-soj-thing/Sojourn-Iskhod/issues">Issue Tracker</a> or #bug-talk on Discord.</font></p>
			<p><font size='2'>Based on <a href="https://github.com/epic-new-soj-thing/Sojourn-Iskhod/">CEV Eris</a>. Code under <a href="http://www.gnu.org/licenses/agpl.html">AGPLv3</a>. Content under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.</p>
		</td>
	</tr>
</table>

<br><font size='3'><b>Changelog</b></font>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<p><font size='2'>Below are recent changes for Sojourn Station (Iskhod Outpost).</font></p>
		</td>
	</tr>
</table>
